.truncate {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.list-reset {
	margin: 0;
	list-style: none;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-grow {
	flex-grow: 1;
}

.flex-shrink {
	flex-shrink: 1;
}

.flex-shrink-none {
	flex-shrink: 0;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.overflow-hidden {
	overflow: hidden;
}

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.uppercase {
	text-transform: uppercase;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.clickable {
	will-change: color;
	transition: color 0.3s;

	&:hover,
	&:focus {
		color: #3b7fd3 !important;
	}
}
